
/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
}

/* HEADER */
header{
    background:#ffffff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.logo{
    font-size:26px;
    font-weight:bold;
    color:#2e8b57;
}

nav ul{
    list-style:none;
    display:flex;
    gap:30px;
}

nav a{
    text-decoration:none;
    color:#333;
    font-weight:500;
}

nav a:hover{
    color:#2e8b57;
}

.btn-header{
    background:#2e8b57;
    color:#fff;
    padding:10px 18px;
    border-radius:20px;
    text-decoration:none;
}

/* HERO */
.hero{
    background:#4CAF78;
    color:white;
    text-align:center;
    padding:90px 20px;
}

.hero h1{
    font-size:42px;
    margin-bottom:20px;
}

.hero p{
    max-width:700px;
    margin:auto;
    line-height:1.6;
}

/* BREADCRUMB */
.breadcrumb{
    background:#45a36f;
    padding:15px 8%;
    color:white;
    font-size:14px;
}

/* SOBRE CONTEÚDO */
.container{
    padding:70px 8%;
    max-width:1100px;
    margin:auto;
}

.sobre-content{
    display:flex;
    gap:50px;
    align-items:center;
    flex-wrap:wrap;
}

.sobre-text{
    flex:1;
}

.sobre-text h2{
    color:#2e8b57;
    margin-bottom:20px;
}

.sobre-text p{
    margin-bottom:15px;
    line-height:1.6;
    color:#555;
}

.sobre-img{
    flex:1;
}

.sobre-img img{
    width:100%;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

/* MISSÃO VISÃO VALORES */
.valores{
    margin-top:60px;
    display:flex;
    gap:30px;
    flex-wrap:wrap;
}

.box{
    background:white;
    padding:30px;
    border-radius:15px;
    flex:1;
    min-width:250px;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.box h3{
    color:#2e8b57;
    margin-bottom:15px;
}

ul{
    list-style: none;
    padding-left:0;
    margin-left: 0;
}

/* RESPONSIVO TABLET */
@media (max-width:768px){

    nav ul{
        gap:15px;
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero h1{
        font-size:32px;
    }

    .sobre-content{
        flex-direction:column;
    }
}

/* RESPONSIVO CELULAR */
@media (max-width:480px){

    header{
        flex-direction:column;
        gap:15px;
        text-align:center;
    }

    nav ul{
        flex-direction:column;
        gap:12px;
    }

    .btn-header{
        width:100%;
        text-align:center;
    }

    .hero{
        padding:60px 15px;
    }

    .hero h1{
        font-size:26px;
    }

    .hero p{
        font-size:14px;
    }

    .breadcrumb{
        text-align:center;
    }

    .container{
        padding:40px 5%;
    }
}
